{% extends 'layouts/default.html' %}

{% block body %}{% endblock %}

{% block content %}
{% parent %}
<div class="container">
  <div class="col-sm-9 col-sm-offset-1 text-center title">

<span class="tab-item">
      <img src="/images/tunpixel-logo.png" class="no-bg"  style=" border-radius: 50%;" width="150px" >
    </span>
    <h1 class='title'>Tunpixel Boilerplate</h1>
    <hr>
    <h3> Reset Password </h3>
    <p >
      Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder, this could mean you signed up with a different address.      
    </p>
    <p>
    <a href="{{ROUTES.AUTH_LOGIN}}">Login</a>  or
    <a href="{{ROUTES.AUTH_SIGNUP}}">Sign Up</a>      
    </p>
  </div>
  </div>

{% endblock %}
