{% extends 'layouts/default.html' %}

{% block body %}{% endblock %}

{% block content %}
{% parent %}

  <div class="col-sm-6 col-sm-offset-3">
    <!-- show any messages that come back with authentication -->
  {% if message.length %}
  <div class="alert alert-danger">
    {{message}}
  </div>
  {% endif %}

    {% if messagev.length %}
  <div class="alert alert-info">
    {{messagev}}
  </div>
  {% endif %}

    <h1>Forgot Password</h1>
    <hr>
    <p>Enter your email address below and we will send you password reset instructions.</p>
    <!-- LOGIN FORM -->
    <form action="{{ROUTES.AUTH_FORGOT}}" method="post">

      <div class="form-group{% if fields.email %} has-error{% endif %}">
        <label>Email</label>
        <input type="email" class="form-control" name="email" value="{{email}}" required autofocus>
        <span class="help-block">{{fields.email}}</span>
      </div>

      <button type="submit" class="btn btn-sm btn-primary">Reset Password</button>
    </form>
  </div>

{% endblock %}
