{% extends 'layouts/share.html' %}

{% block title %}{{title}} | Tunpixel Boilerplate{% endblock %}

{% block head %}
  {% parent %}

  <link rel="stylesheet" href="/modules/opinions/styles/item_.bundle.css">
  <script src="/ionic.bundle.js"></script>
  <script src="/modules/opinions/scripts/item_.js"></script>


  <!-- <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# restaurant: http://ogp.me/ns/restaurant#"> -->


	<meta property="fb:app_id"          content="467737049992745" />

	<meta property="og:locale"          content="fr_FR" />

	<meta property="og:site_name"       content="Kool.tn" />

	<meta property="og:see_also"        content="http://kool.tn/" />

	<!-- <meta property="og:type"            content="restaurant.menu_item" /> -->

	<meta property="og:type"            content="kool-tn:kool">

	<meta property="og:url"             content="http://app.kool.tn/opinion/{{opinion.id}}" /> 
	
	<meta property="og:title"           content="{{title}}" /> 
	
	<meta property="og:image"           content="{{opinion.picture}}" />

  <!-- <meta property="restaurant:section"                  content="Sample Section" /> -->

<!--   {% if opinion.price %}
  <meta property="restaurant:variation:price:amount"   content="{{opinion.price}}" />
  <meta property="restaurant:variation:price:currency" content="TND" />
  {% endif %}
 -->
	{% if opinion.comment.length %}<meta property="og:description"     content="{{opinion.comment}}" />{% endif %}

	{% if opinion.location %}<meta property="place:location:latitude"  content="{{opinion.location[0]}}">{% endif %}
	{% if opinion.location %}<meta property="place:location:longitude" content="{{opinion.location[1]}}">{% endif %}

  <meta property="al:ios:url" content="kool://" />
  <meta property="al:ios:app_store_id" content="861858884" />
  <meta property="al:ios:app_name" content="Kool.tn" />
  <meta property="al:android:url" content="kool://" />
  <meta property="al:android:app_name" content="Kool.tn" />
  <meta property="al:android:package" content="tn.kool.app" />
  <meta property="al:web:url" content="http://kool.tn/" />

{% endblock %}

{% block content %}

	<div ng-app="koolApp">

    <ion-content>

	    <div class="i-list i-card opinion-details-card" i-style="position: static;">

	      <div class="item item-text-wrap text-center" style="line-height: 34px; padding: 10px">
	        <span class="kool-button kool-plate">{{ opinion.plate.name }}</span>
	        chez
	        <span class="kool-button kool-restaurant">{{ opinion.restaurant.name }}</span>
	      </div>

	      <div class="item item-image opinion-picture-container ribbon-container">

	        <img src="{{opinion.picture}}" class="opinion-picture">

	        {% if opinion.price %}<span class="price-tag">{{opinion.price|number}}D</span>{% endif %}

	        <div class="ribbon-wrapper">
	          <div class="ribbon">{{opinion.value|scoreToGrade}}</div>
	        </div>

	      </div>

	      <img class="user-picture-static" src="http://cache.kool.tn/unsafe/40x40/smart/api.kool.tn/v0/users/{{opinion.meta.createdBy.id}}/picture">

	      <div class="item item-text-wrap" style="border-bottom: none;">
	        <p class="meta">
	          <span class="user-name">{{opinion.meta.createdBy.name}}</span>
	          <span class="creation-date">{{opinion.meta.createdOn | fromNow}}</span>
	        </p>
	        {% if opinion.comment.length %}<p class="text-justify">{{opinion.comment}}</p>{% endif %}
	      </div>

	      <div class="item item-text-wrap text-center" style="border-bottom: none;">
	      	
	      	<div
					  class="fb-like"
					  data-share="true"
					  data-width="300"
					  data-show-faces="false">
					</div>

	      </div>

	    </div>

	  </ion-content>

  </div>

{% endblock %}
