{% extends 'layouts/default.html' %}

{% block title %}ProtoPixel Polymer{% endblock %}

{% block content %}
<div class="container">

  <div class="col-sm-9 col-sm-offset-1 text-center title">

   <span class="tab-item">
      <img src="/images/tunpixel-logo.png" class="no-bg"  style=" border-radius: 50%;" width="150px" >
    </span>
    <h4>Welcome to ProtoPixel Polymer!</h4>
    <hr>

    {% if !user.isValid %}

    <h5>Your new account is all set up!</h5>

        <form action="/auth/valid/{{tockenurl}}" method="post">

      <button type="submit" class="btn btn-link"><h6>Click here to proceed as {{user.email}} </h6></button>
    </form>
    {% else %}

    <h4>There is a small problem</h4>
    <h4>This invitation link isn't valid. Perhaps you already used it?</h4>


    {% endif %}

</div>
</div>

{% endblock %}
